# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.yarn/plugins/**
/.yarn/releases/**
/.yarn/unplugged/**
/.yarn/build-state.yml
/.yarn/cache/**

.yarn/*
module02-reactjs/buoi-2/bai-tap/bai1/.yarn
module02-reactjs/buoi-2/bai-tap/bai2/.yarn
module02-reactjs/buoi-2/bai-thuc-hanh/bai1/.yarn
module02-reactjs/buoi-2/bai-thuc-hanh/bai2/.yarn
module02-reactjs/buoi-2/bai-thuc-hanh/bai3/.yarn
/**/.yarn/**
