body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('./css/bootstrap.min.css');
@import url('css/owl.carousel.min.css');
@import url('css/owl.theme.default.min.css');
@import url('css/jquery.fancybox.min.css');
@import url('fonts/icomoon/style.css');
@import url('fonts/flaticon/font/flaticon.css');
@import url('css/daterangepicker.css');
@import url('css/style.css');
