* {
  padding: 0;
  margin: 0;
}
.container {
  padding: 1.5rem;
  background: #f1f2f4;
}

.container > p {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.gray-text {
  color: #aaa;
}

ul {
  list-style-type: none;
}

.article-container {
  margin-top: 2rem;
  width: 100%;
}

.article-container article.left {
  display: inline-block;
  width: 400px;
  margin-right: 1rem;
}

.article-container article.right {
  display: inline-block;
  width: 700px;
  vertical-align: top;
}

article p {
  margin-top: 1rem;
}

.img-container {
  height: 300px;
  background: #5b9bd5;
  border-radius: 5px;
  margin-bottom: 1rem;
}

article.right .left {
  width: 80px;
  height: 80px;
  display: inline-block;
  background: #d699da;
  font-size: 3rem;
  vertical-align: center;
  color: #fff;
  padding-left: 45px;
  padding-top: 25px;
  border-radius: 5px;
  margin-right: 1rem;
}

article.right .right {
  display: inline-block;
  vertical-align: top;
}

article.right .right h4 {
  text-transform: uppercase;
}

article.right .list > li {
  padding: 1rem;
}
article.right .list > li:first-child {
  padding-top: 0;
}
article.right .list > li:not(:last-child) {
  border-bottom: 1px dashed #a8a09b;
}
