* {
  padding: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

table {
  border: none;
  background: #f2f3f5;
  width: 100%;
}

td {
  border: none;
  padding: 1rem;
}
input,
select,
textarea {
  border: none;
  width: 100%;
  padding: 0.5rem;
}

.btnSubmit {
  width: 100%;
  border: none;
  color: #fff;
  background: #2c2f34;
  padding: 0.8rem;
}
